<% provide :title, t("static_pages.about.about") %>
<!DOCTYPE html>
<html>
  <body>
    <h1><%= t "static_pages.about.about" %></h1>
    <p>
      <%= t "static_pages.about.the" %>
      <%= link_to "http://www.railstutorial.org/" do %>
        <em><%= t "static_pages.about.ruby_rails" %></em>
        <% end %>
      <%= t "static_pages.about.is_a" %>
      <%= link_to "http://www.railstutorial.org/book" do %>
        <%= t "static_pages.about.book" %>
        <% end %>
      <%= t "static_pages.about.and" %>
      <%= link_to "http://screencasts.railstutorial.org/" do %>
        <%= t "static_pages.about.screencast_series" %>
        <% end %>
      <%= t "static_pages.about.teach_web" %>
      <%= link_to "http://rubyonrails.org/" do %>
        <%= t "static_pages.about.ruby_on_rails" %>
        <% end %>
      <%= t "static_pages.about.this_is_sample" %>
    </p>
  </body>
</html>
