<% provide :title, t("static_pages.help.help") %>
<h1><%= t "static_pages.help.help" %></h1>
<p>
  <%= t "static_pages.help.get_help" %>
  <%= link_to "http://www.railstutorial.org/help" do %>
    <%= t "static_pages.help.rails_help" %>
    <% end %>
  <%= t "static_pages.help.help_sample_app" %>
  <%= link_to "http://www.railstutorial.org/book" do %>
    <em><%= t "static_pages.help.ruby_rails" %></em>
    <%= t "static_pages.help.book" %>
    <% end %>
</p>
