<% provide :title, t("static_pages.home.home") %>
<h1><%= t "app_name" %></h1>
<p>
  <%= t "static_pages.home.this_is_home_page" %>
  <%= link_to "http://www.railstutorial.org/" do %>
    <%= t "static_pages.home.ruby_rails" %>
    <% end %>
  <%= t "static_pages.home.sample_app" %>
</p>
